[submodule "stamps/1031A/1031-9101/pico-utils"]
	path = stamps/1031A/1031-9101/pico-utils
	url = https://github.com/dslik/pico-utils
[submodule "stamps/1037A/1037-9101/pico-utils"]
	path = stamps/1037A/1037-9101/pico-utils
	url = https://github.com/dslik/pico-utils
